.person{
    display: flex;
    flex-direction: row;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
    margin-right: 200px;
}
.bob{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.repair{
    text-decoration: unset;
    color: #666;
    font-weight: 500;
    
}
.repair:hover {
    color: black;
    font-weight: 600;
}
.lack{
width: 500px;
}
.head{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-family: var(--open);
    font-style: italic;
    justify-content: center;
    font-size: 18px;
    gap: 20px;
    
}
#head{
    display: flex;
    flex-direction: column; 
    align-items: center;  
}
.prop{
    height: 1px;
    width: 100%;
    background-color:  #666;
    margin-top: 15px;
    margin-bottom: 15px;
}
.bob p{
    color: #666; 
    font-family: var(--open);
    font-size: 16px;
    font-weight: 500;
}
.dark {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.lego img{
    width: 30%;
}
.lego{
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media(max-width: 500px){
    .header{
        gap: 10px;
    }
    .header{
        margin-right: 0px;
        flex-direction: column;
        align-items: center;
    }
    .repair{
        font-size: 12px;
    }
    .head{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
    .dark{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}
@media(max-width:320px){
    .dark{
        gap: 10px;
    }
}