.lol{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    color: #666;
    font-family: var(--open);
    font-size: 16px;
    font-weight: 700;
}
.lol span{
    color: #666;
    font-family: var(--open);
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    width: 250px;
}