.lol{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    color: #666;
    font-family: var(--open);
    font-size: 16px;
    font-weight: 700;
}
.lol span{
    color: #666;
    font-family: var(--open);
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    width: 250px;
}
.tap{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#tap-wee{
   display: flex;
   flex-direction: column;
   align-items: center;
}
#tack{
    text-decoration: none;
}