body {
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 900px;
    width: 100%;
    margin: 30px auto;
    padding: 20px 0;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 40px;
}

.form-container label {
    font-size: 16px;
    color: #333;
    font-family: Rubik;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container input[type="checkbox"],
.form-container textarea,
.form-container select {
    width: 100%;
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fcfcfc;
    color: #333;
    margin-top: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    font-family: Poppins;
}

.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="tel"]:focus,
.form-container input[type="checkbox"]:focus,
.form-container textarea:focus,
.form-container select:focus {
    border-color: #4a90e2;
    outline: none;
}

.form-container textarea {
    resize: vertical;
    min-height: 80px;
    font-family: Poppins;
}

.name-fields,
.address-fields,
.contact-fields,
.maintenance-access,
.authorization,
.pets,
.problem-description
/* .captcha */
 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-container input[type="checkbox"] {
    width: 15px;
}

.auth-label
 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.error {
    width: 60%;
    background-color: #f9d6d3;
    color: #e82610;
    font-size: 14px;
    margin-top: 5px;
    padding: 10px 20px;
    border-left: 2px solid #e82610;
    font-family: Poppins;
}

.maintenance-access div {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.maintenance-access input[type="radio"] {
    margin-top: 4px;
    width: 0;
}

.form-container button[type="submit"] {
    max-width: 250px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #2b7bb9;
    border: 2px solid #1f5a87;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-end;
    font-family: Poppins;
}

.form-container button[type="submit"]:hover {
    background-color: #357abd;
}

.form-container button[type="submit"]:active {
    background-color: #2d6ca4;
}


strong {
    font-family: Rubik;
}

#status-message {
    width: 100%;
    font-size: 16px;
    margin-top: 5px;
    padding: 10px 20px;
    border-left: 2px solid;
    font-family: Poppins;
  }
  
button + .success {
    background-color: rgb(192, 247, 192);
    border-color: rgb(5, 159, 5);
    color: rgb(2, 152, 2);

  }
  
button +  .error {
    background-color: #f9d6d3;
    border-color: #e82610;
    color: #e82610;

  }