#contain{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#contain img{
    width: 150px;
    margin-bottom: 70px;
}
#contain h2{
    color: #000; 
    font-family: var(--open);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.6px;
    margin-bottom: 20px;
}
#contain p{
    color: #666; 
    font-family: var(--open);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.6px;
}
.lod{
    text-decoration: none;
}
@media(max-width: 500px){
    #contain h2{
        font-size: 20px;
    }
    #contain img{
        width: 70px;
        margin-bottom: 10px;
    }
}