.sale{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#sale{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}